<%- include('includes/head.ejs', {Title: 'error 500'}) %>
<link rel="stylesheet" type="text/css" href="css/401.css">
<head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <img src="img/space-galaxy-background.jpg" alt="fond" id="background-video">
        <div id="first_div">
            <h1>
                Erreur 401 - Non autorisé : Accès refusé. Vous n'avez pas les permissions nécessaires pour accéder à cette ressource. Veuillez
                <a href="/creer-compte" class="custom-cursor">créer un compte</a>
            </h1>
        </div>
    </main>
</body>

