<%- include('includes/head.ejs', {Title: 'Accueil'}) %>
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <div id="div">
      <div id="divImages">
      <img src="img/Clément-Callaert-CV/Clément-Callaert-CV-1.png" id="cv1">
      <img src="img/Clément-Callaert-CV/Clément-Callaert-CV-2.png" id="cv2">
    </div>
    <div id="divImages2">
      <img src="img/Clément-Callaert-CV-English/Clément-Callaert-CV-English-1.png" id="cv3">
      <img src="img/Clément-Callaert-CV-English/Clément-Callaert-CV-English-2.png" id="cv4">
    </div>
    </div>

  </main>
  <%- include('includes/footer') %>
</body>
</html>
