#blurhead {
    display: flex;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.5); /* Adjust the background color and alpha as needed */
}

#photo-clement {
    filter: none;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 3px black;
}
