#divImages, #divImages2 {
    margin-top: 5rem;
    display: flex;
    justify-content: center; /* Horizontally center the images */
    align-items: center; /* Vertically center the images */
    height: 100vh; /* Set the height to 100% of the viewport height */
}

#div {
    display: flex;
    flex-direction: column;
}

#cv1, #cv2, #cv3, #cv4 {
    margin: 1rem;
    flex: 1; /* Distribute available space equally between #cv1 and #cv2 */
    max-width: 40%; /* Set a maximum width for each image */
    height: auto; /* Maintain the aspect ratio */
}

body {
    margin: 0; /* Remove default margin to ensure full-width display */
    background: #d7d2cb;
}

@media only screen and (max-width: 767px) {
    #divImages {
        flex-direction: column; /* Pour afficher les images verticalement sur des écrans plus petits */
        margin-top: 15rem;
    }

    #cv1, #cv2 {
        max-width: 100%; /* Pour que les images occupent la largeur complète sur des écrans plus petits */
    }
}
